body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background: #191919;
}
a {
  cursor: pointer;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 80%;
  max-width: 800px;
  max-height: auto;;
}
